* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-size: 300% 300%;
  background-image: linear-gradient(
    270deg,
    #e2b06e 23.8%,
    rgb(81, 227, 253) 92%
  );
  animation: gradient 8s ease infinite;
  /* background-image: linear-gradient(75deg, #e2b06e 23.8%, #f5d3a7 92%); */
}
.container {
  background-color: #deb887;
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  /* box-shadow: 0 20px 20px 0 rgba(226, 176, 110, 0.6); */
}
.section-control {
  padding: 5px 10px;
  width: 30%;
  height: max-content;
}
.jump-text {
  background-color: #b4946b;
  width: 50px;
  border-radius: 10px;
  border: none;
  padding-left: 15px;
  color: white;
  margin: 10px 0;
}
.section-control button {
  border: none;
  background-color: rgb(81, 227, 253);
  border-radius: 25px;
  cursor: pointer;
}
.section-control span {
  font-size: 14px;
}
.container h4 {
  margin: 0;
  width: 100%;
  background-color: #b4946b;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}
.progress-container {
  /* margin-bottom: 10px; */
  margin-top: 15px;
  background-color: #b4946b;
  border-radius: 10px;
  height: 4px;
  width: 100%;
  cursor: pointer;
}
.progress {
  background: rgb(81, 227, 253);
  /* background: linear-gradient(270deg, #e2b06e 23.8%, rgb(81, 227, 253) 92%);
  background-size: 400% 400%; */
  height: 100%;
  width: 0%;
  border-radius: 5px;
  transition: width 0.1s linear;
  /* animation: gradient 2s ease infinite;
  animation-play-state: paused; */
}
.container.play .progress {
  animation-play-state: running;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.timestamp {
  width: 100%;
  margin-bottom: 10px;
}
.timestamp p {
  font-size: 10px;
  display: inline;
}
.action-btn {
  border: none;
  background-color: #f5c688;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.left-time {
  float: left;
}
.right-time {
  float: right;
}
.in-action,
.section-control button.in-action {
  background: forestgreen;
  color: white;
}
.section-list {
  /* border radius, darker color, lighter color children */
  background-color: #b4946b;
  border-radius: 25px;
  padding: 7px;
  width: 100%;
  margin: 5px 10px;
  height: 100%;
  line-height: 30px;
  transition: all 1s linear;
  display: none;
}

/* make the display block then use grid or flexbox */

.section-list .section {
  /* background-color: #b4946b; */
  background-color: #f5c688;
  border-radius: 25px;
  padding: 0.5px 4px;
  font-size: 11px;
  cursor: pointer;
  transition: all 0.3s linear;
  margin: 0.5% 1%;
  /* word-wrap: none; */
  display: inline-block;
}
#section,
#section-sec {
  width: 100px;
}
.section-list .active {
  background-color: rgb(81, 227, 253);
}
